@tailwind base;
@tailwind components;
@tailwind utilities;

.survey-participation {
  height: 100vh;
  overflow: auto;

  .sv-string-viewer {
    line-break: normal;
    white-space: pre-wrap;
  }
  .sd-container-modern__title {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid var(--ring);
  }
  .sd-header__text .sd-title .sv-string-viewer {
    font-size: 20pt;
    line-height: 20pt;
    color: var(--primary);
  }
  .sd-header__text .sd-description .sv-string-viewer {
    font-size: 16pt;
    line-height: 16pt;
    color: var(--muted-foreground);
  }

  .sd-container-modern {
    height: fit-content;
  }

  .sd-body.sd-body--static {
    max-width: 100%;
    width: 100%;
  }
  .sd-body.sd-body--empty,
  .sd-body.sd-completedpage {
    font-size: 16pt;
    color: var(--primary-foreground) !important;
  }

  .sd-page {
    .sd-page__title .sv-string-viewer {
      font-size: 16pt !important;
      line-height: 16pt;
      color: var(--ring);
    }
    .sd-page__description .sv-string-viewer {
      font-size: 12pt;
      line-height: 12pt;
    }

    .sd-input[Type="text"] {
      height: 36px;
      padding-top: 2px;
      padding-bottom: 2px;
    }
    .sd-dropdown,
    .sd-dropdown--empty {
      height: 36px;
      padding-top: 2px;
      padding-bottom: 2px;

      display: flex;
      align-items: center;
    }

    .sd-rating__item {
      background-color: var(--accent);
    }
    .sd-rating__item--selected {
      background-color: var(--primary);
      border-color: var(--input);
      .sv-string-viewer {
        color: var(--primary-foreground);
      }
    }
  }

  .sv-components-container-contentBottom {
    .sd-navigation__complete-btn {
      color: var(--primary-foreground);
    }
  }
}

.participated-survey,
.survey-participation {
  .sd-page {
    .sd-file__preview-item,
    .sd-file__image-wrapper {
      width: 100%;
      height: 100%;
    }
    .sd-file__sign {
      width: 100%;
    }
  }
}
