@tailwind base;
@tailwind components;
@tailwind utilities;

.survey-editor {
  .sv-popup__body-content {
    padding: 20px;
  }

  .sv-ranking-item__text {
    color: theme("colors.ciLightGrey") !important;
  }

  .sd-table__cell .sd-table__cell--row-text {
    color: theme("colors.ciLightGrey") !important;
  }

  .sd-table__cell--header,
  .sd-table__cell--column-title {
    color: theme("colors.ciLightGrey") !important;
  }

  .svc-page__content-actions {
    .sv-svg-icon {
      max-width: 24px;
      max-height: 24px;
    }
  }

  .svc-question__drag-area {
    .sv-svg-icon {
      height: 30px;
      width: 30px;
    }
  }
  .sd-file__drag-area-placeholder {
    .sv-string-viewer {
      color: #bcbcbc;
    }
  }

  .svc-list__filter-icon {
    margin-top: 2px;
    margin-bottom: 2px;
    display: inline-flex;
    align-items: center;

    .svc-list__input {
      display: flex;
      top: 2px;
      bottom: 2px;
      left: 2px;
      right: 2px;
    }

    .sv-svg-icon {
      height: 30px;
      width: 30px;
    }
  }
  .sv-popup__content {
    color: #bcbcbc;

    .svc-list {
      justify-items: start;

      .svc-list__item-body {
        margin-top: 2px;
        margin-bottom: 2px;
        display: inline-flex;
        align-items: center;

        .sv-string-viewer {
          display: inline-block;
          margin-left: 8px;
          margin-right: 8px;
        }

        .sv-svg-icon {
          height: 24px;
          width: 24px;
        }
      }

      .svc-list-item__marker-icon {
        justify-self: end;
      }
    }
  }

  .svc-context-button,
  .svc-context-button--danger {
    .sv-svg-icon {
      max-width: 36px;
      max-height: 36px;
    }
  }
  .svc-image-item-value-controls__add {
    .sv-svg-icon {
      max-width: 24px;
      max-height: 24px;
    }
  }

  .svc-item-value-controls__button {
    .sv-svg-icon {
      height: 20px;
      width: 20px;
    }
  }

  .sd-completedpage h3 {
    color: theme("colors.ciLightGrey") !important;
  }

  .sd-element {
    padding: 5px;
  }

  .svc-notifier--info {
    position: fixed;
    right: 210px;
    bottom: 120px;
    transform: translate(50%, 50%);
  }

  /* header-bar-icons */
  .sv-action-bar-item__icon {
    max-width: 24px;
    max-height: 24px;
  }

  /* page-footer-icons / add-new-question-bar */
  .svc-element__add-new-question {
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    gap: 8px;

    svg {
      max-width: 30px;
      max-height: 30px;
    }
  }

  /* survey-element-action-icons / question-actions-bar */
  .svc-survey-element-toolbar {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  .svc-survey-element-toolbar__item,
  .svc-survey-element-toolbar__item--with-text {
    align-items: center;

    svg {
      max-width: 20px;
      max-height: 20px;
      justify-content: center;
    }

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .svc-survey-element-toolbar__item--with-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;

    max-height: 50px;
  }
  .svc-dropdown-action--convertTo-last {
    margin-right: 3rem;
  }

  /* survey-page-action-icons / page-actions-bar */
  .svc-page-toolbar {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  .svc-page-toolbar__item,
  .svc-page-toolbar__item--with-text {
    max-height: 50px;
    align-items: center;

    svg {
      max-width: 24px;
      max-height: 24px;
      justify-content: center;
    }

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .svc-page-toolbar__item--with-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;

    max-height: 50px;
  }

  /* Sturctured */
  .svc-creator {
    .sd-container-modern,
    .sd-container-modern--static,
    .svc-designer__placeholder-container {
      width: calc(100vw - var(--sidebar-width) - var(--menubar-max-width));

      @media only screen and (max-width: 767px) {
        width: 100vw;
      }
    }

    .svc-designer__placeholder-container {
      height: 800px;
    }

    .svc-top-bar {
      max-height: 40px;
      height: 40px;
      padding: 0;

      .svc-tabbed-menu,
      .svc-tabbed-menu-item,
      .svc-tabbed-menu-item--selected {
        max-height: 40px;
        height: 40px;
        padding: 0;
      }

      .svc-tabbed-menu-item__text {
        padding: 3px 8px;
        display: flex;
        align-items: center;
      }
    }

    .svc-designer-header {
      border-bottom-color: theme("colors.ciLightGrey") !important;
      .sd-title {
        .sv-string-editor {
          font-size: 20pt;
          line-height: 20pt;
          line-break: normal;
          white-space: pre-wrap;
        }
      }
      .sd-description {
        .sv-string-editor {
          font-size: 16pt;
          line-height: 16pt;
          line-break: normal;
          white-space: pre-wrap;
        }
      }
    }

    .sd-page {
      .sd-page__title {
        .sv-string-editor {
          font-size: 16pt;
          line-height: 16pt;
          line-break: normal;
          white-space: pre-wrap;
        }
      }

      .sd-page__description {
        .sv-string-editor {
          font-size: 12pt;
          line-height: 12pt;
          line-break: normal;
          white-space: pre-wrap;
        }
      }

      .sd-text,
      .sd-text__content {
        display: none !important;
      }

      .sv-action-bar-item:not(.sv-action-bar-item--pressed):hover:enabled {
        background-color: theme("colors.ciGrey") !important;
      }

      .sv-action-bar-item:not(.sv-action-bar-item--pressed):focus:enabled {
        background-color: theme("colors.ciGrey") !important;
      }
    }

    .svc-footer-bar {
      .sv-action-bar-separator {
        display: none !important;
      }

      .sv-action-bar-item,
      .sv-action-bar-item--icon {
        transform: translateX(-5px);
      }
    }

    @media only screen and (max-width: 951px) {
      .svc-top-bar {
        display: none !important;
      }
    }
  }

  .svc-tab-designer .sd-container-modern.sd-container-modern--static {
    max-width: 100vw !important;
  }

  /* Hidden */
  .svc-creator__non-commercial,
  .svc-creator__non-commercial-text {
    visibility: hidden;
    height: 0px;
    display: none !important;
  }

  .svc-flex-row,
  .svc-flex-column,
  .svc-side-bar,
  .svc-side-bar__wrapper,
  .svc-side-bar__conainer-header,
  .svc-side-bar__container-content,
  .svc-side-bar__shadow,
  .svc-flyout-side-bar {
    background-color: unset !important;
  }

  /* Colors */
  .sd-rating__item-star svg {
    fill: theme("colors.ciLightGrey") !important;
  }

  .svc-text,
  .svc-json-editor-tab__content-area {
    color: theme("colors.ciLightGrey") !important;
  }
  .svc-json-editor-tab__content-area {
    background-color: unset !important;
  }

  .svc-btn,
  .svc-tabbed-menu-item--selected {
    background-color: theme("colors.ciGrey") !important;
  }

  .svc-top-bar,
  .svc-question__content,
  .svc-side-bar__container,
  .svc-side-bar__container-header {
    background-color: theme("colors.ciDarkGrey") !important;
  }

  /* STUFF */
  .svc-toolbox__item-title {
    max-height: 30px;
    padding: theme("container.padding");
  }
  .svc-toolbox__item-title:hover {
    background: theme("colors.ciDarkGrey") !important;
    border-radius: theme("borderRadius.lg");
  }
  .svc-toolbox__item-subtype {
    max-height: 50px;
  }
  .svc-toolbox__item-title {
    padding: theme("container.padding");
  }

  .sv-list__item-body {
    color: theme("colors.ciGrey") !important;
  }
  .sv-list__item--selected.sv-list__item--group > .sv-list__item-body,
  .sv-list__item.sv-list__item--selected:hover.sv-list__item--group > .sv-list__item-body {
    color: theme("colors.ciLightGrey") !important;
  }
}
