@tailwind base;
@tailwind components;
@tailwind utilities;

.sd-page.sd-body__page {
  width: 100%;
}

.sd-container-modern__title {
  background-color: transparent !important;
  .sd-title .sv-string-viewer {
    font-size: 2rem;
    line-height: 2rem;
  }
  .sd-description .sv-string-viewer {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

.sd-page {
  .sd-page__title .sv-string-viewer {
    font-size: 1.5rem !important;
    line-height: 1.5rem;
  }
  .sd-page__description .sv-string-viewer {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }
}

.survey-participation .sd-body__navigation {
  display: flex;
  gap: 0.75rem;
  justify-content: flex-end;
  padding: 1rem 0;
}

.survey-nav-button {
  min-width: 6rem;
  padding: 1rem 0;
}

.sv-action__content {
  display: flex;
  justify-self: center;

  .svc-element__add-new-question.svc-btn {
    min-width: 12rem;
    height: 3rem;
    width: 14rem;
    border-radius: var(--border-radius, 12px);
  }
}

.svc-preview__test-again.svc-btn {
  display: flex;
  justify-content: center;
  height: 3rem;
  width: 12rem !important;
  border-radius: var(--border-radius, 12px);
}

.sd-dropdown__value {
  color: var(--background);
  font-weight: 600;
}

.sd-rating__item--selected {
  background-color: var(--primary) !important;
  .sv-string-viewer {
    color: var(--foreground);
  }
}
