services:
  mongoEdu:
    container_name: mongoEdu
    image: mongo:7
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - db:/data/db
    healthcheck:
      test: ['CMD', 'mongosh', '--eval', "db.adminCommand('ping')"]
      interval: 5s
      timeout: 1s
      retries: 3
      start_period: 10s

  redisEdu:
    container_name: redisEdu
    image: redis:8.2
    restart: always
    ports:
      - '6379:6379'
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 5s
      timeout: 1s
      retries: 3
      start_period: 10s
    command: >
      redis-server
        --save ""
        --appendonly no
        --io-threads 2
        --io-threads-do-reads yes

volumes:
  db:
