@tailwind base;
@tailwind components;
@tailwind utilities;

.survey-result-table {
  .sa-visualizer__content {
    color: var(--foreground);
  }

  /*background-color: var(--overlay);*/

  .sa-commercial {
    visibility: hidden;
    height: 0px;
  }

  .sa-table__entries-label,
  .sa-table__entries-label--right,
  .sa-table__global-filter {
    color: var(--foreground) !important;
  }

  .sa-table select {
    color: var(--foreground) !important;
  }

  .tabulator-cell {
    color: var(--foreground) !important;
  }

  .surveyDashboardContainer {
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
  }
}
