.dropdown {
  position: relative;
  cursor: default;
}

.dropdown .arrow {
  border-style: solid;
  border-width: 5px 5px 0;
  display: block;
  height: 0;
  margin-top: 0.3rem;
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
}
.dropdown .arrow.open {
  border-width: 0 5px 5px;
}
.dropdown .arrow.up {
  border-width: 0 5px 5px;
}
.dropdown .arrow.up.open {
  border-width: 5px 5px 0;
}

.dropdown .selected-value input {
  line-height: 1.5;
  font-size: 1rem;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
  width: 100%;
}

.dropdown .options {
  display: none;
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 125px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.dropdown .options.up {
  top: auto;
  bottom: 100%;
  margin-bottom: -1px;
}

.dropdown .options.open {
  display: block;
}

.dropdown .option {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.dropdown.default .selected-value input {
  background-color: var(--accent);
  color: var(--secondary);
}

.dropdown.default .arrow {
  border-color: #999 transparent transparent;
}

.dropdown.default .arrow.open,
.dropdown.default .arrow.up {
  border-color: transparent transparent #999;
}

.dropdown.default .options {
  background-color: var(--accent);
  color: var(--secondary);
}

.dropdown.default .option {
  color: var(--secondary);
}
.dropdown.default .option.selected,
.dropdown.default .option:hover {
  background-color: var(--muted);
  color: var(--secondary);
}

.dropdown.dialog .selected-value input {
  border: 1px solid #666;
  background-color: var(--muted);
  color: #d1d5db;
}

.dropdown.dialog .arrow {
  border-color: #999 transparent transparent;
}

.dropdown.dialog .arrow.open,
.dropdown.dialog .arrow.up {
  border-color: transparent transparent #999;
}

.dropdown.dialog .options {
  border: 1px solid #666;
  background-color: #333;
  color: rgba(255, 255, 255, 0.8);
}

.dropdown.dialog .option {
  color: rgba(255, 255, 255, 0.8);
}
.dropdown.dialog .option.selected,
.dropdown.dialog .option:hover {
  background-color: #444;
  color: rgba(255, 255, 255, 0.8);
}

.light .dropdown {
  color: #333;
}

.light .dropdown .arrow {
  border-color: #999 transparent transparent;
}

.dark .dropdown {
  color: #d1d5db;
}
.dark .dropdown .arrow {
  border-color: #999 transparent transparent;
}
