@tailwind base;
@layer base {
  html {
    @apply text-white;
    font-family: 'Lato', sans-serif;
  }

  html,
  body {
    height: 100%;
    overflow: hidden;
  }

  :root {
    --sidebar-width: 66px;
    --radius: 0.25rem;
    --menubar-max-width: 300px;
    --ci-light-green: #88d840;
    --ci-light-blue: #0081c6;
    --scrollbar-track: transparent;
    --scrollbar-thumb: #2d3748;
  }

  .bg-global {
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .light {
    --background-image: url('assets/backgroundLightMode.webp');
    --background: #000000;
    --foreground: #ffffff;
    --muted-foreground: #505050;
    --muted-background: #bbbbbb;
    --muted-light: #dcdcdc;
    --primary: #2c78dc;
    --primary-foreground: #ffffff;
    --secondary: #2e2a24;
    --secondary-foreground: #f2f2f2;
    --muted: #b1b1ac;
    --muted-transparent: #b1b1ac50;
    --accent: #d2d2cf;
    --accent-light: #e3e3e3;
    --input: #1d170f;
    --card: #00000000; /* bleibt transparent */
    --card-foreground: #000000; /* Invertiert von #FFFFFF */
    --popover: #000000; /* Invertiert von #FFFFFF */
    --popover-foreground: #f0e8d5; /* Invertiert von #0F172A */
    --border: #342b1b;
    --destructive: #00ffff;
    --destructive-foreground: #130800;
    --ring: #735b49;
    --ring-transparent: #735b4950;
    --overlay: #ffffff;
    --overlay-transparent: #ffffff50;
    --overlay-foreground: #ffffff;
    --muted-dialog: #eaeaea;
    --scrollbar-thumb: #b1b1ac;
  }
  .dark {
    --background-image: url('assets/backgroundDarkMode.webp');
    --background: #ffffff;
    --foreground: #000000;
    --muted-foreground: #bbbbbb;
    --muted-background: #1a1a1a;
    --primary: #0281c7;
    --primary-foreground: #ffffff;
    --secondary: #d1d5db; /* früher ciLightGrey */
    --secondary-foreground: #2d2d30;
    --muted: #2d3748; /* früher ciGrey       */
    --muted-transparent: #2d374850;
    --muted-light: #3a4557;
    --accent: #2d2d30; /* früher ciDarkGrey   */
    --accent-light: #3c3f45;
    --input: #e2e8f0;
    --card: #00000000;
    --card-foreground: #ffffff;
    --popover: #ffffff;
    --popover-foreground: #0f172a;
    --border: #cbd4e4; /* 214.3 31.8% 91.4%  */
    --destructive: #ff0000; /* 0 100% 50%         */
    --destructive-foreground: #ecf7ff; /* 210 40% 98%  */
    --ring: #8ca4b6; /* 215 20.2% 65.1%    */
    --ring-transparent: #8ca4b650;
    --overlay: #1e2938;
    --overlay-transparent: #1e293850;
    --overlay-foreground: #ffffff;
    --muted-dialog: #1e293b;
    --scrollbar-thumb: #2d2d30;
  }
}

@layer components {
  .gradient-box {
    border-width: 4px !important;
    background:
      var(--background-image) padding-box,
      linear-gradient(to right top, var(--ci-light-green), var(--ci-light-blue)) border-box;
    border-radius: 4px;
    border-style: solid;
    border-color: transparent;
  }
}

@tailwind components;
@tailwind utilities;

@keyframes slideInFromRight {
  0% {
    transform: translateX(+100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.blinking {
  animation-delay: 0.5s;
  animation-name: blink-animation;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
}

@keyframes blink-animation {
  50% {
    opacity: 0.5;
    background-color: var(--primary);
  }
}

.alert-enter {
  animation: slideInFromRight 0.5s forwards;
}

.alert-exit {
  animation: slideInFromRight 0.5s reverse forwards;
  animation-delay: 4.5s;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

iframe {
  @apply bg-cover bg-center bg-no-repeat;
  background-image: url('./assets/backgroundDarkMode.webp');
}

.ql-editor,
.ql-editor.ql-blank {
  line-break: anywhere;
  min-height: 300px;
  overflow: auto;
  max-height: 70vh;
  max-width: 620px;
}

.black-centered-shadow {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 1);
}

.ql-stroke,
.ql-picker-label:hover .ql-stroke {
  stroke: white !important;
}

.ql-active .ql-stroke {
  stroke: white !important;
}

button:hover .ql-fill,
.ql-picker-label:hover .ql-fill {
  stroke: white !important;
}

.ql-active .ql-fill {
  stroke: white !important;
}

/* TLDRAW SPECIFIC START */
[data-radix-popper-content-wrapper] {
  z-index: 1000 !important;
}

@layer components {
  [data-radix-popper-content-wrapper] input {
    @apply pointer-events-none cursor-default opacity-50;
  }
}

@layer components {
  [data-radix-popper-content-wrapper] [data-testid='people-menu.change-name'] {
    @apply hidden;
  }
}
/* TLDRAW SPECIFIC END */
